/* styles.css */

/* About, Store, Contact, Home */



  
.about-style {
    color: #7F96B3;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
}

/* Misery */
.misery-title {
    color: #7F96B3;
    font-size: 48px;
    font-family: Montagu Slab;
    font-weight: 400;
    word-wrap: break-word;
}

/* Register */
.register-style {
    color: #7F96B3;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
}

/* Subtitles */
.subtitle1 {
    color: #7F96B3;
    font-size: 36px;
    font-family: Montaga;
    font-weight: 400;
    text-transform: capitalize;
    word-wrap: break-word;
}

.subtitle2 {
    color: #7F96B3;
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: capitalize;
    word-wrap: break-word;
}

/* Description */
.description-style {
    color: #7F96B3;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: lowercase;
    word-wrap: break-word;
}

/* Gochi Hand */
.gochi-hand-style {
    color: #7F96B3;
    font-size: 19px;
    font-family: Gochi Hand;
    font-weight: 400;
    text-transform: lowercase;
    word-wrap: break-word;
}

/* Start Shopping */
.start-shopping-style {
    color: black;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: lowercase;
    word-wrap: break-word;
}