/* Reset some default styles for consistency */
body, h1, form, button {
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #faf6f6;
    text-align: center;
    margin: 20px;
}

/* Heading styles */
h1 {
    text-decoration: underline;
    color: #2b74b8;
    margin-top: 20px;
}

/* Form styles */
form {
    display: inline;
}

/* Product container styles */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Product item styles */
.product {
    max-width: 300px;
    margin: 20px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Edit Product Button styles */
.product form {
    display: inline;
}

/* Heading 3 styles */
h3 {
    margin: 0;
    color: #2b74b8;
}

/* Paragraph styles */
p {
    margin: 10px 0;
}

/* Button styles */
button {
    background-color: #2b74b8;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

/* Button hover effect */
button:hover {
    background-color: #1e558d;
}
